[\cfg]

;Меню
[\menu]

[\menu\BGTOOLS]
Name=sBGTOOLS
[\menu\BGTOOLS\Блок]
Name=sБлок
[\menu\BGTOOLS\sBGBLFIX]
name=sBGTOOLS….
Intername=sBGBLFIX
[\menu\BGTOOLS\Блок\sBGBLXCLIP]
name=sПоказ подрез
Intername=sBGBLXCLIP
[\menu\BGTOOLS\Блок\sBGCB]
name=sКопировать блок с новым именем
Intername=sBGCB
[\menu\BGTOOLS\Блок\sBGRB]
name=sПереименовать блок
Intername=sBGRB
[\menu\BGTOOLS\sep_Взорвать]
[\menu\BGTOOLS\Взорвать]
Name=sВзорвать
[\menu\BGTOOLS\Взорвать\sBGBLXCLIPEXP]
name=sВзорвать подрезанный
Intername=sBGBLXCLIPEXP
[\menu\BGTOOLS\Взорвать\sBG1BLEXP]
name=sВзрывает блоки, состоящие из одного примитива (возможно другого блока)
Intername=sBG1BLEXP
[\menu\BGTOOLS\Взорвать\sBGBLEXP1NOATT]
name=sВзрывает блоки 1-го уровня, у которых нет видимых атрибутов
Intername=sBGBLEXP1NOATT
[\menu\BGTOOLS\Взорвать\sUX]
name=sВзорвать UNNAMED блок
Intername=sUX
[\menu\BGTOOLS\Взорвать\sep_BGBLEXP]
[\menu\BGTOOLS\Взорвать\sBGBLEXP]
name=sВзрывает блок и все блоки, входящие в него, превращая видимые атрибуты в текст
Intername=sBGBLEXP
[\menu\BGTOOLS\Взорвать\sBGBLEXP1]
name=sВзрывает блоки 1-го уровня, превращая видимые атрибуты в текст
Intername=sBGBLEXP1
[\menu\BGTOOLS\Взорвать\sBGBLDYNEXP1]
name=sВзрывает динамические блоки 1-го уровня, превращая видимые атрибуты в текст
Intername=sBGBLDYNEXP1
[\menu\BGTOOLS\Преобразовать]
Name=sПреобразовать
[\menu\BGTOOLS\Преобразовать\sBGBLDYN2A]
name=sПреобразовывает динамические блоки в анонимные
Intername=sBGBLDYN2A
[\menu\BGTOOLS\Преобразовать\sBGBLDYN2S]
name=sПреобразовывает динамические блоки в статические
Intername=sBGBLDYN2S
[\menu\BGTOOLS\Преобразовать\sBGBLALLDYN2A]
name=sПреобразовывает ВСЕ динамические блоки в анонимные
Intername=sBGBLALLDYN2A
[\menu\BGTOOLS\Преобразовать\sBGBLALLDYN2S]
name=sПреобразовывает ВСЕ динамические блоки в статические
Intername=sBGBLALLDYN2S
[\menu\BGTOOLS\Преобразовать\sep_M2U]
[\menu\BGTOOLS\Преобразовать\sM2U]
name=sПреобразовать MINSERT (МН-БЛОК) в Unnamed блок
Intername=sM2U
[\menu\BGTOOLS\Преобразовать\sM2B]
name=sПреобразовать MINSERT (МН-БЛОК) в блок
Intername=sM2B
[\menu\BGTOOLS\Преобразовать\sep_U2B]
[\menu\BGTOOLS\Преобразовать\sU2B]
name=sПреобразовать UNNAMED в блок
Intername=sU2B
[\menu\BGTOOLS\Преобразовать\sU2BM]
name=sПреобразовать UNNAMED в блок множественный выбор
Intername=sU2BM
[\menu\BGTOOLS\Изменить блоки]
Name=sИзменить блоки
[\menu\BGTOOLS\Изменить блоки\sBGBLCC]
name=sИзменяет цвет выбранных блоков
Intername=sBGBLCC
[\menu\BGTOOLS\Изменить блоки\sBGENCC]
name=sИзменяет цвет выбранного элемента блока
Intername=sBGENCC
[\menu\BGTOOLS\Изменить блоки\sBGCATT]
name=sИзменяет цвет атрибутов выбранных блоков
Intername=sBGCATT
[\menu\BGTOOLS\Изменить блоки\sBGCBL2]
name=sИзменяет цвет в блоках 2 и более уровня (вложенных блоках)
Intername=sBGCBL2
[\menu\BGTOOLS\Изменить примитивы]
Name=sИзменить примитивы
[\menu\BGTOOLS\Изменить примитивы\sBGRGB2ACI]
name=sRGB в ACI
Intername=sBGRGB2ACI
[\menu\BGTOOLS\Изменить примитивы\sBGAll2RGB]
name=sACI в RGB
Intername=sBGAll2RGB
[\menu\BGTOOLS\Изменить примитивы\sep_BGCOLOR]
[\menu\BGTOOLS\Изменить примитивы\sBGCOLOR]
name=sЗадает выбранный цвет всем объектам
Intername=sBGCOLOR
[\menu\BGTOOLS\Изменить примитивы\sBGCOLORCMD]
name=sЗадает выбранный цвет всем объектам с запросом в командной строке
Intername=sBGCOLORCMD
[\menu\BGTOOLS\Изменить примитивы\sep_BGCOLORXREF]
[\menu\BGTOOLS\Изменить примитивы\sBGCOLORXREF]
name=sМеняет цвет выбранных внешних ссылок (только в текущем сеансе)
Intername=sBGCOLORXREF
[\menu\BGTOOLS\Слои]
Name=sСлои
[\menu\BGTOOLS\Слои\sBGCOLBL]
name=sЦвет по слою
Intername=sBGCOLBL
[\menu\BGTOOLS\Слои\sBGResetXRef]
name=sСброс настроек слоев выбранных внешних ссылок на установленные в исходном файле
Intername=sBGResetXRef
[\menu\BGTOOLS\Слои\sBGLAYDEL]
name=sУдаление пустых и выключенных, замороженных слоев с примитивами.
Intername=sBGLAYDEL
[\menu\BGTOOLS\sep_Разное]
[\menu\BGTOOLS\Разное]
Name=sРазное
[\menu\BGTOOLS\Разное\sBGCFT]
name=sКонвертирует все поля в обычный текст
Intername=sBGCFT
[\menu\BGTOOLS\Разное\sBGCFTSEL]
name=sКонвертирование полей в обычный текст в выбранных примитивах
Intername=sBGCFTSEL
[\menu\BGTOOLS\Разное\sep_BGHATCHDEL]
[\menu\BGTOOLS\Разное\sBGHATCHDEL]
name=sУдалить штриховку
Intername=sBGHATCHDEL
[\menu\BGTOOLS\sep_Инфо]
[\menu\BGTOOLS\Инфо]
Name=sИнфо
[\menu\BGTOOLS\Инфо\sBGINFO]
name=sКоманды BGTOOLS
Intername=sBGINFO
[\menu\BGTOOLS\Инфо\sBGTOOLS_HOME]
name=sО  BGTOOLS
Intername=sBGTOOLS_HOME

;всплывающее меню панелей
[\ToolBarPopUpMenu]

[\ToolBarPopUpMenu\BGTOOLS]
Name=sBGTOOLS
[\ToolBarPopUpMenu\BGTOOLS\ShowToolbar_Blok]
Name=sБлок
InterName=sShowToolbar_Blok
[\ToolBarPopUpMenu\BGTOOLS\sep_ShowToolbar_Vzorvat`]
[\ToolBarPopUpMenu\BGTOOLS\ShowToolbar_Vzorvat`]
Name=sВзорвать
InterName=sShowToolbar_Vzorvat`
[\ToolBarPopUpMenu\BGTOOLS\ShowToolbar_Preobrazovat`]
Name=sПреобразовать
InterName=sShowToolbar_Preobrazovat`
[\ToolBarPopUpMenu\BGTOOLS\ShowToolbar_Izmenit`_bloki]
Name=sИзменить блоки
InterName=sShowToolbar_Izmenit`_bloki
[\ToolBarPopUpMenu\BGTOOLS\ShowToolbar_Izmenit`_primitivy`]
Name=sИзменить примитивы
InterName=sShowToolbar_Izmenit`_primitivy`
[\ToolBarPopUpMenu\BGTOOLS\ShowToolbar_Sloi]
Name=sСлои
InterName=sShowToolbar_Sloi
[\ToolBarPopUpMenu\BGTOOLS\sep_ShowToolbar_Raznoe]
[\ToolBarPopUpMenu\BGTOOLS\ShowToolbar_Raznoe]
Name=sРазное
InterName=sShowToolbar_Raznoe
[\ToolBarPopUpMenu\BGTOOLS\sep_ShowToolbar_Info]
[\ToolBarPopUpMenu\BGTOOLS\ShowToolbar_Info]
Name=sИнфо
InterName=sShowToolbar_Info

;View меню
[\menu\View]
[\menu\View\toolbars]

[\menu\View\toolbars\BGTOOLS]
Name=sBGTOOLS
[\menu\View\toolbars\BGTOOLS\ShowToolbar_Blok]
Name=sБлок
InterName=sShowToolbar_Blok
[\menu\View\toolbars\BGTOOLS\sep_ShowToolbar_Vzorvat`]
[\menu\View\toolbars\BGTOOLS\ShowToolbar_Vzorvat`]
Name=sВзорвать
InterName=sShowToolbar_Vzorvat`
[\menu\View\toolbars\BGTOOLS\ShowToolbar_Preobrazovat`]
Name=sПреобразовать
InterName=sShowToolbar_Preobrazovat`
[\menu\View\toolbars\BGTOOLS\ShowToolbar_Izmenit`_bloki]
Name=sИзменить блоки
InterName=sShowToolbar_Izmenit`_bloki
[\menu\View\toolbars\BGTOOLS\ShowToolbar_Izmenit`_primitivy`]
Name=sИзменить примитивы
InterName=sShowToolbar_Izmenit`_primitivy`
[\menu\View\toolbars\BGTOOLS\ShowToolbar_Sloi]
Name=sСлои
InterName=sShowToolbar_Sloi
[\menu\View\toolbars\BGTOOLS\sep_ShowToolbar_Raznoe]
[\menu\View\toolbars\BGTOOLS\ShowToolbar_Raznoe]
Name=sРазное
InterName=sShowToolbar_Raznoe
[\menu\View\toolbars\BGTOOLS\sep_ShowToolbar_Info]
[\menu\View\toolbars\BGTOOLS\ShowToolbar_Info]
Name=sИнфо
InterName=sShowToolbar_Info

; Панели
[\toolbars]

[\toolbars\Blok]
name=sБлок
[\toolbars\Blok\BGBLFIX]
Intername=sBGBLFIX
[\toolbars\Blok\BGBLXCLIP]
Intername=sBGBLXCLIP
[\toolbars\Blok\BGCB]
Intername=sBGCB
[\toolbars\Blok\BGRB]
Intername=sBGRB

[\toolbars\Vzorvat`]
name=sВзорвать
[\toolbars\Vzorvat`\BGBLXCLIPEXP]
Intername=sBGBLXCLIPEXP
[\toolbars\Vzorvat`\BG1BLEXP]
Intername=sBG1BLEXP
[\toolbars\Vzorvat`\BGBLEXP1NOATT]
Intername=sBGBLEXP1NOATT
[\toolbars\Vzorvat`\UX]
Intername=sUX
[\toolbars\Vzorvat`\sep_BGBLEXP]
[\toolbars\Vzorvat`\BGBLEXP]
Intername=sBGBLEXP
[\toolbars\Vzorvat`\BGBLEXP1]
Intername=sBGBLEXP1
[\toolbars\Vzorvat`\BGBLDYNEXP1]
Intername=sBGBLDYNEXP1

[\toolbars\Preobrazovat`]
name=sПреобразовать
[\toolbars\Preobrazovat`\BGBLDYN2A]
Intername=sBGBLDYN2A
[\toolbars\Preobrazovat`\BGBLDYN2S]
Intername=sBGBLDYN2S
[\toolbars\Preobrazovat`\BGBLALLDYN2A]
Intername=sBGBLALLDYN2A
[\toolbars\Preobrazovat`\BGBLALLDYN2S]
Intername=sBGBLALLDYN2S
[\toolbars\Preobrazovat`\sep_M2U]
[\toolbars\Preobrazovat`\M2U]
Intername=sM2U
[\toolbars\Preobrazovat`\M2B]
Intername=sM2B
[\toolbars\Preobrazovat`\sep_U2B]
[\toolbars\Preobrazovat`\U2B]
Intername=sU2B
[\toolbars\Preobrazovat`\U2BM]
Intername=sU2BM

[\toolbars\Izmenit`_bloki]
name=sИзменить блоки
[\toolbars\Izmenit`_bloki\BGBLCC]
Intername=sBGBLCC
[\toolbars\Izmenit`_bloki\BGENCC]
Intername=sBGENCC
[\toolbars\Izmenit`_bloki\BGCATT]
Intername=sBGCATT
[\toolbars\Izmenit`_bloki\BGCBL2]
Intername=sBGCBL2

[\toolbars\Izmenit`_primitivy`]
name=sИзменить примитивы
[\toolbars\Izmenit`_primitivy`\BGRGB2ACI]
Intername=sBGRGB2ACI
[\toolbars\Izmenit`_primitivy`\BGAll2RGB]
Intername=sBGAll2RGB
[\toolbars\Izmenit`_primitivy`\sep_BGCOLOR]
[\toolbars\Izmenit`_primitivy`\BGCOLOR]
Intername=sBGCOLOR
[\toolbars\Izmenit`_primitivy`\BGCOLORCMD]
Intername=sBGCOLORCMD
[\toolbars\Izmenit`_primitivy`\sep_BGCOLORXREF]
[\toolbars\Izmenit`_primitivy`\BGCOLORXREF]
Intername=sBGCOLORXREF

[\toolbars\Sloi]
name=sСлои
[\toolbars\Sloi\BGCOLBL]
Intername=sBGCOLBL
[\toolbars\Sloi\BGResetXRef]
Intername=sBGResetXRef
[\toolbars\Sloi\BGLAYDEL]
Intername=sBGLAYDEL

[\toolbars\Raznoe]
name=sРазное
[\toolbars\Raznoe\BGCFT]
Intername=sBGCFT
[\toolbars\Raznoe\BGCFTSEL]
Intername=sBGCFTSEL
[\toolbars\Raznoe\sep_BGHATCHDEL]
[\toolbars\Raznoe\BGHATCHDEL]
Intername=sBGHATCHDEL

[\toolbars\Info]
name=sИнфо
[\toolbars\Info\BGINFO]
Intername=sBGINFO
[\toolbars\Info\BGTOOLS_HOME]
Intername=sBGTOOLS_HOME

;Команды
[\configman]
[\configman\commands]

[\configman\commands\BGBLFIX]
weight=i10
cmdtype=i1
intername=sBGBLFIX
DispName=sBGTOOLS….
StatusText=sДиалог модификации блоков
BitmapDll=sdrzToolsMenu.dll
Icon=snewblock

[\configman\commands\BGBLXCLIP]
weight=i10
cmdtype=i1
intername=sBGBLXCLIP
DispName=sПоказ подрез
StatusText=sВыбирает подрезанные блоки
BitmapDll=sdrzToolsMenu.dll
Icon=sclip

[\configman\commands\BGCB]
weight=i10
cmdtype=i1
intername=sBGCB
DispName=sКопировать блок с новым именем
StatusText=sКопирует одно из вхождений блока в блок с новым именем
BitmapDll=sdrzToolsMenu.dll
Icon=sMoveCopy

[\configman\commands\BGRB]
weight=i10
cmdtype=i1
intername=sBGRB
DispName=sПереименовать блок
StatusText=sПереименовывает одно из вхождений блока в блок с новым именем
BitmapDll=sdrzToolsMenu.dll
Icon=srename

[\configman\commands\BGBLXCLIPEXP]
weight=i10
cmdtype=i1
intername=sBGBLXCLIPEXP
DispName=sВзорвать подрезанный
StatusText=sВзорвать подрезанный блок (по подрезке)
BitmapDll=sdrzToolsMenu.dll
Icon=sexplode

[\configman\commands\BG1BLEXP]
weight=i10
cmdtype=i1
intername=sBG1BLEXP
DispName=sВзрывает блоки, состоящие из одного примитива (возможно другого блока)
StatusText=sВзрывает блоки, состоящие из одного примитива (возможно другого блока)
BitmapDll=sdrzToolsMenu.dll
Icon=sexplodetext

[\configman\commands\BGBLEXP1NOATT]
weight=i10
cmdtype=i1
intername=sBGBLEXP1NOATT
DispName=sВзрывает блоки 1-го уровня, у которых нет видимых атрибутов
StatusText=sВзрывает блоки 1-го уровня, у которых нет видимых атрибутов
BitmapDll=sdrzToolsMenu.dll
Icon=si32

[\configman\commands\UX]
weight=i10
cmdtype=i1
intername=sUX
DispName=sВзорвать UNNAMED блок
StatusText=sВзорвать UNNAMED блок
BitmapDll=sdrzToolsMenu.dll
Icon=sbvshow

[\configman\commands\BGBLEXP]
weight=i10
cmdtype=i1
intername=sBGBLEXP
DispName=sВзрывает блок и все блоки, входящие в него, превращая видимые атрибуты в текст
StatusText=sВзрывает блок и все блоки, входящие в него, превращая видимые атрибуты в текст
BitmapDll=sdrzToolsMenu.dll
Icon=sexplodeall

[\configman\commands\BGBLEXP1]
weight=i10
cmdtype=i1
intername=sBGBLEXP1
DispName=sВзрывает блоки 1-го уровня, превращая видимые атрибуты в текст
StatusText=sВзрывает блоки 1-го уровня, превращая видимые атрибуты в текст
BitmapDll=sdrzToolsMenu.dll
Icon=sburst

[\configman\commands\BGBLDYNEXP1]
weight=i10
cmdtype=i1
intername=sBGBLDYNEXP1
DispName=sВзрывает динамические блоки 1-го уровня, превращая видимые атрибуты в текст
StatusText=sВзрывает динамические блоки 1-го уровня, превращая видимые атрибуты в текст
BitmapDll=sdrzToolsMenu.dll
Icon=sattsync

[\configman\commands\BGBLDYN2A]
weight=i10
cmdtype=i1
intername=sBGBLDYN2A
DispName=sПреобразовывает динамические блоки в анонимные
StatusText=sПреобразовывает динамические блоки в анонимные
BitmapDll=sdrzToolsMenu.dll
Icon=sbvhide

[\configman\commands\BGBLDYN2S]
weight=i10
cmdtype=i1
intername=sBGBLDYN2S
DispName=sПреобразовывает динамические блоки в статические
StatusText=sПреобразовывает динамические блоки в статические
BitmapDll=sdrzToolsMenu.dll
Icon=sbvstate

[\configman\commands\BGBLALLDYN2A]
weight=i10
cmdtype=i1
intername=sBGBLALLDYN2A
DispName=sПреобразовывает ВСЕ динамические блоки в анонимные
StatusText=sПреобразовывает ВСЕ динамические блоки в анонимные
BitmapDll=sdrzToolsMenu.dll
Icon=sinsertblock

[\configman\commands\BGBLALLDYN2S]
weight=i10
cmdtype=i1
intername=sBGBLALLDYN2S
DispName=sПреобразовывает ВСЕ динамические блоки в статические
StatusText=sПреобразовывает ВСЕ динамические блоки в статические
BitmapDll=sdrzToolsMenu.dll
Icon=swblock

[\configman\commands\M2U]
weight=i10
cmdtype=i1
intername=sM2U
DispName=sПреобразовать MINSERT (МН-БЛОК) в Unnamed блок
StatusText=sПреобразовать MINSERT (МН-БЛОК) в Unnamed блок
BitmapDll=sdrzToolsMenu.dll
Icon=si237

[\configman\commands\M2B]
weight=i10
cmdtype=i1
intername=sM2B
DispName=sПреобразовать MINSERT (МН-БЛОК) в блок
StatusText=sПреобразовать MINSERT (МН-БЛОК) в блок
BitmapDll=sdrzToolsMenu.dll
Icon=si223

[\configman\commands\U2B]
weight=i10
cmdtype=i1
intername=sU2B
DispName=sПреобразовать UNNAMED в блок
StatusText=sПреобразовать UNNAMED в блок
BitmapDll=sdrzToolsMenu.dll
Icon=si187

[\configman\commands\U2BM]
weight=i10
cmdtype=i1
intername=sU2BM
DispName=sПреобразовать UNNAMED в блок множественный выбор
StatusText=sПреобразовать UNNAMED в блок множественный выбор
BitmapDll=sdrzToolsMenu.dll
Icon=si123

[\configman\commands\BGBLCC]
weight=i10
cmdtype=i1
intername=sBGBLCC
DispName=sИзменяет цвет выбранных блоков
StatusText=sИзменяет цвет выбранных блоков
BitmapDll=sdrzToolsMenu.dll
Icon=sI506

[\configman\commands\BGENCC]
weight=i10
cmdtype=i1
intername=sBGENCC
DispName=sИзменяет цвет выбранного элемента блока
StatusText=sИзменяет цвет выбранного элемента блока
BitmapDll=sdrzToolsMenu.dll
Icon=sI179

[\configman\commands\BGCATT]
weight=i10
cmdtype=i1
intername=sBGCATT
DispName=sИзменяет цвет атрибутов выбранных блоков
StatusText=sИзменяет цвет атрибутов выбранных блоков
BitmapDll=sdrzToolsMenu.dll
Icon=sI904

[\configman\commands\BGCBL2]
weight=i10
cmdtype=i1
intername=sBGCBL2
DispName=sИзменяет цвет в блоках 2 и более уровня (вложенных блоках)
StatusText=sИзменяет цвет в блоках 2 и более уровня (вложенных блоках)
BitmapDll=sdrzToolsMenu.dll
Icon=sI505

[\configman\commands\BGRGB2ACI]
weight=i10
cmdtype=i1
intername=sBGRGB2ACI
DispName=sRGB в ACI
StatusText=sИзменяет цвет с RGB на ACI
BitmapDll=sdrzToolsMenu.dll
Icon=sCONVERTTO24

[\configman\commands\BGAll2RGB]
weight=i10
cmdtype=i1
intername=sBGAll2RGB
DispName=sACI в RGB
StatusText=sИзменяет ACI цвет в его RGB эквивалент
BitmapDll=sdrzToolsMenu.dll
Icon=sCONVERTTO256COLORS

[\configman\commands\BGCOLOR]
weight=i10
cmdtype=i1
intername=sBGCOLOR
DispName=sЗадает выбранный цвет всем объектам
StatusText=sЗадает выбранный цвет всем объектам
BitmapDll=sdrzToolsMenu.dll
Icon=sCOLOR

[\configman\commands\BGCOLORCMD]
weight=i10
cmdtype=i1
intername=sBGCOLORCMD
DispName=sЗадает выбранный цвет всем объектам с запросом в командной строке
StatusText=sЗадает выбранный цвет всем объектам с запросом в командной строке
BitmapDll=sdrzToolsMenu.dll
Icon=sI179

[\configman\commands\BGCOLORXREF]
weight=i10
cmdtype=i1
intername=sBGCOLORXREF
DispName=sМеняет цвет выбранных внешних ссылок (только в текущем сеансе)
StatusText=sМеняет цвет выбранных внешних ссылок (только в текущем сеансе)
BitmapDll=sdrzToolsMenu.dll
Icon=sNG_HEIGHT_DIFFERENCE

[\configman\commands\BGCOLBL]
weight=i10
cmdtype=i1
intername=sBGCOLBL
DispName=sЦвет по слою
StatusText=sУстановка послою цвета примитивов подосновы. Если цвет задан явно- создается новый слой
BitmapDll=sdrzToolsMenu.dll
Icon=sNG_PAINT_ELEVATION

[\configman\commands\BGResetXRef]
weight=i10
cmdtype=i1
intername=sBGResetXRef
DispName=sСброс настроек слоев выбранных внешних ссылок на установленные в исходном файле
StatusText=sСброс настроек слоев выбранных внешних ссылок на установленные в исходном файле
BitmapDll=sdrzToolsMenu.dll
Icon=sNG_PAINT_ELEVATION_LEGEND

[\configman\commands\BGLAYDEL]
weight=i10
cmdtype=i1
intername=sBGLAYDEL
DispName=sУдаление пустых и выключенных, замороженных слоев с примитивами.
StatusText=sУдаление пустых и выключенных, замороженных слоев с примитивами.
BitmapDll=sdrzToolsMenu.dll
Icon=sLAYDEL

[\configman\commands\BGCFT]
weight=i10
cmdtype=i1
intername=sBGCFT
DispName=sКонвертирует все поля в обычный текст
StatusText=sКонвертирует все поля в обычный текст
BitmapDll=sdrzToolsMenu.dll
Icon=sUpdateField

[\configman\commands\BGCFTSEL]
weight=i10
cmdtype=i1
intername=sBGCFTSEL
DispName=sКонвертирование полей в обычный текст в выбранных примитивах
StatusText=sКонвертирование полей в обычный текст в выбранных примитивах
BitmapDll=sdrzToolsMenu.dll
Icon=sField

[\configman\commands\BGHATCHDEL]
weight=i10
cmdtype=i1
intername=sBGHATCHDEL
DispName=sУдалить штриховку
StatusText=sУдалить штриховку
BitmapDll=sdrzToolsMenu.dll
Icon=sI977

[\configman\commands\BGINFO]
weight=i10
cmdtype=i1
intername=sBGINFO
DispName=sКоманды BGTOOLS
StatusText=sИнформация о доступных командах с описаниями в ком строку
BitmapDll=sdrzToolsMenu.dll
Icon=sList

[\configman\commands\BGTOOLS_HOME]
weight=i10
cmdtype=i0
intername=sBGTOOLS_HOME
DispName=sО  BGTOOLS
StatusText=sДомашняя страница программы
RealCommandName=sshell_exec
Keyword=sopen,https://forum.dwg.ru/showthread.php?t=66355
BitmapDll=sdrzToolsMenu.dll
Icon=sABOUT

;команды вызова панелей

[\configman\commands\ShowToolbar_Blok]
weight=i10
cmdtype=i0
Intername=sShowToolbar_Blok
StatusText=sОтображение панели Блок
ToolTipText=sОтображение панели Блок
DispName=sОтображение панели Блок
LocalName=sПанель_Блок
BitmapDll=sdrzToolsMenu.dll
Icon=snewblock

[\configman\commands\ShowToolbar_Vzorvat`]
weight=i10
cmdtype=i0
Intername=sShowToolbar_Vzorvat`
StatusText=sОтображение панели Взорвать
ToolTipText=sОтображение панели Взорвать
DispName=sОтображение панели Взорвать
LocalName=sПанель_Взорвать
BitmapDll=sdrzToolsMenu.dll
Icon=sexplode

[\configman\commands\ShowToolbar_Preobrazovat`]
weight=i10
cmdtype=i0
Intername=sShowToolbar_Preobrazovat`
StatusText=sОтображение панели Преобразовать
ToolTipText=sОтображение панели Преобразовать
DispName=sОтображение панели Преобразовать
LocalName=sПанель_Преобразовать
BitmapDll=sdrzToolsMenu.dll
Icon=sbvhide

[\configman\commands\ShowToolbar_Izmenit`_bloki]
weight=i10
cmdtype=i0
Intername=sShowToolbar_Izmenit`_bloki
StatusText=sОтображение панели Изменить блоки
ToolTipText=sОтображение панели Изменить блоки
DispName=sОтображение панели Изменить блоки
LocalName=sПанель_Изменить_блоки
BitmapDll=sdrzToolsMenu.dll
Icon=sI506

[\configman\commands\ShowToolbar_Izmenit`_primitivy`]
weight=i10
cmdtype=i0
Intername=sShowToolbar_Izmenit`_primitivy`
StatusText=sОтображение панели Изменить примитивы
ToolTipText=sОтображение панели Изменить примитивы
DispName=sОтображение панели Изменить примитивы
LocalName=sПанель_Изменить_примитивы
BitmapDll=sdrzToolsMenu.dll
Icon=sCONVERTTO24

[\configman\commands\ShowToolbar_Sloi]
weight=i10
cmdtype=i0
Intername=sShowToolbar_Sloi
StatusText=sОтображение панели Слои
ToolTipText=sОтображение панели Слои
DispName=sОтображение панели Слои
LocalName=sПанель_Слои
BitmapDll=sdrzToolsMenu.dll
Icon=sNG_PAINT_ELEVATION

[\configman\commands\ShowToolbar_Raznoe]
weight=i10
cmdtype=i0
Intername=sShowToolbar_Raznoe
StatusText=sОтображение панели Разное
ToolTipText=sОтображение панели Разное
DispName=sОтображение панели Разное
LocalName=sПанель_Разное
BitmapDll=sdrzToolsMenu.dll
Icon=sUpdateField

[\configman\commands\ShowToolbar_Info]
weight=i10
cmdtype=i0
Intername=sShowToolbar_Info
StatusText=sОтображение панели Инфо
ToolTipText=sОтображение панели Инфо
DispName=sОтображение панели Инфо
LocalName=sПанель_Инфо
BitmapDll=sdrzToolsMenu.dll
Icon=sList

;Меню по ПКМ not used
[\ViewPopUpMenu]

;Лента
[\ribbon\BGTOOLS]
CUIX=s%CFG_PATH%\BGTOOLS.cuix
visible=f1

;горячие клавиши
[\Accelerators]
